.card-body p{
  margin-bottom: 0px;
}

.card-up{
    height: 30%
}

.front,.back{
    box-shadow: none;
}

.pitching-grip{
    margin: 1rem 4rem;
}

.weaknesses i {
    color: red;
}

.strengths i {
    color: green;
}
