<div id="home-page">
  <div id="logo">
    <img src="https://lh3.googleusercontent.com/IPtFMGTfPUMRx9i9fwSoaHUn-_Dha6PpNplvqqByHXj8JRE7ssFutKbw5dcf3MlyHQb9fuDT7czTXky1McCbYvjRx4-t7lenoJqjDGJKScGJGpZUvU5IHkw8uCi77vPSU_i2ppo-" class="img-fluid">
  </div>
  <h1 class="text-white text-center">
    <strong>Pitcher Database</strong>
    <small class="text-muted">Demo</small>
  </h1>
  <hr>
  <button type="button" class="btn btn-outline-warning btn-rounded waves-effect align-middle" routerLink="/players" >Demo</button>
</div>

